* {
	padding:0;
	margin:0;
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.foto-perfil {
    width: 180px;
    height: 180px;
    border-radius: 700px;
    -webkit-box-shadow: 4px 4px 22px -2px rgba(0,0,0,0.72);
    -moz-box-shadow: 4px 4px 22px -2px rgba(0,0,0,0.72);
    box-shadow: 4px 4px 22px -2px rgba(0,0,0,0.72);
}

body {
    background-image: url("imagenes/fondo.png");
}

.menu_bar {
	display:none;
}

form .check {
    width: 15px;
    padding: 1px;
}

form .check a {
    font-size: 10px;
    color: #c00;
}

header {
	width: 100%;
}

header nav {
	background:#0489B1;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}

section {
	padding: 2px;
}

.logo {
    float: right;
    width: 10%;
    height: 10%;
    margin: 0;
    padding: 0;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#01A9DB;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background: #0489B1;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

footer {
    text-align: center;
    background: #0489B1;
		bottom: 0;
		width:95%;
		margin:20px auto;
		position: fixed;

}

footer span {
    color: #fff;
}

form{
	width: 300px;
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	margin-bottom: 20px;
	background-color: #FFF;
}

.boton {
    border-bottom: 0px solid #c00;
}

input, select {
    width: 98%;
    height: 35px;
    margin: 5px 0 10px 0;
    border: none;
    border-bottom: 1px solid #c00;
}

textarea {
    width: 98%;
    height: 90px;
    margin: 5px 0 10px 0;
    border: none;
    border: 1px solid #c00;
}

label {
    color: gray;
    font-size: 13px;
}
input:focus {
    border:none;
}

form a {
	color: #c0392b;
}

.formulario tr td a {
    background: #c0392b;
    color: white;
    padding: 5px;
		text-decoration: none;
}

.mensaje {
    margin: 20px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
		width: 99%;
    max-width: 100%;
    background: #c0392b;
		margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#0489B1;
    z-index: 999;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 17px;
		color: #fff;
		overflow: hidden;
		font-size: 17px;
		text-decoration: none;
    z-index: 999;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 60%;
		height: calc(97% - 55px);
		position: fixed;
		right:100%;
		margin: 0;
    margin-top: -24px;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
        font-size: 12px;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}

  footer {
    width: 100%;
		z-index: 999;
		margin: 0;
  }
}
